* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #033810;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#033810,#64e480);
    color:white;
    display:
    .escola-div-conteudo{
        width: 35%; flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    .escola-div-conteudo{
        width: 35%;
    width: 35%;
}
.escola-titulo
    padding: 24px 0;
}
